Options +MultiViews
Options -Indexes

RewriteEngine On
RewriteCond %{HTTP:HTTPS} !on
RewriteRule (.*) https://%{SERVER_NAME}/$1 [QSA,L,R=301]

<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresDefault "access plus 1 month"

  # Webfonts
  ExpiresByType font/truetype "access plus 1 month"
  ExpiresByType font/opentype "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

  # Media: images, video, audio
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType video/ogg "access plus 1 month"
  ExpiresByType audio/ogg "access plus 1 month"
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/webm "access plus 1 month"

  # CSS and JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
</IfModule>

# ----------------------------------------------------------------------
# Extra Security Headers
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options nosniff
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header set Referrer-Policy "strict-origin"
</IfModule>

# ----------------------------------------------------------------------
# Page redirects
# ----------------------------------------------------------------------

Redirect 301 /amazon https://www.amazon.fr/?tag=guillaumebrid-21
Redirect 301 /lab/pixel https://guillaumebriday.github.io/dpi.js/
Redirect 301 /coinbase https://www.coinbase.com/join/59abd8d4e7be8202c8825dc1
Redirect 301 /blog/ https://guillaumebriday.fr/

Redirect 301 /2016/11/07/comment-jutilise-git-mes-astuces-et-bonnes-pratiques/ https://guillaumebriday.fr/comment-jutilise-git-mes-astuces-et-bonnes-pratiques
Redirect 301 /2016/11/18/un-mac-pour-le-prix-de-deux/ https://guillaumebriday.fr/un-mac-pour-le-prix-de-deux
Redirect 301 /2016/08/01/configurer-un-routeur-synology-rt1900ac-avec-une-livebox-orange/ https://guillaumebriday.fr/configurer-un-routeur-synology-rt1900ac-avec-une-livebox-orange
Redirect 301 /2016/06/18/installer-ruby-on-rails-5-avec-docker-et-un-nas-synology/ https://guillaumebriday.fr/ruby-on-rails-installation-sur-un-nas-synology-avec-docker

# ----------------------------------------------------------------------
# | Custom error messages/pages                                        |
# ----------------------------------------------------------------------

# Customize what Apache returns to the client in case of an error.
# https://httpd.apache.org/docs/current/mod/core.html#errordocument

ErrorDocument 404 /404/
