Options +MultiViews -Indexes

# Force https
RewriteEngine On
RewriteCond %{HTTP:HTTPS} !on
RewriteRule (.*) https://%{SERVER_NAME}/$1 [QSA,L,R=301]

# Force non-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.guillaumebriday\.fr [NC]
RewriteRule ^(.*)$ https://guillaumebriday.fr/$1 [L,R=301]

<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresDefault "access plus 1 month"

  # Webfonts
  ExpiresByType font/truetype "access plus 1 month"
  ExpiresByType font/opentype "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

  # Media: images, video, audio
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType video/ogg "access plus 1 month"
  ExpiresByType audio/ogg "access plus 1 month"
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/webm "access plus 1 month"

  # CSS and JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
</IfModule>

# ----------------------------------------------------------------------
# Extra Security Headers
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options nosniff
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header set Referrer-Policy "strict-origin"
</IfModule>

# ----------------------------------------------------------------------
# Page redirects
# ----------------------------------------------------------------------

Redirect 301 /amazon https://www.amazon.fr/?tag=guillaumebrid-21
Redirect 301 /lab/pixel https://guillaumebriday.github.io/dpi.js/
Redirect 301 /coinbase https://www.coinbase.com/join/59abd8d4e7be8202c8825dc1
Redirect 301 /blog https://guillaumebriday.fr/

Redirect 301 /tutoriel/2016/11/07/comment-jutilise-git-mes-astuces-et-bonnes-pratiques.html https://guillaumebriday.fr/comment-jutilise-git-mes-astuces-et-bonnes-pratiques
Redirect 301 /2016/11/07/comment-jutilise-git-mes-astuces-et-bonnes-pratiques/ https://guillaumebriday.fr/comment-jutilise-git-mes-astuces-et-bonnes-pratiques

Redirect 301 /2016/11/18/un-mac-pour-le-prix-de-deux/ https://guillaumebriday.fr/un-mac-pour-le-prix-de-deux

Redirect 301 /about/public/CV.pdf https://guillaumebriday.fr/assets/CV-Guillaume-Briday.pdf
Redirect 301 "/assets/CV - Guillaume Briday.pdf" https://guillaumebriday.fr/assets/CV-Guillaume-Briday.pdf

Redirect 301 /2016/08/01/configurer-un-routeur-synology-rt1900ac-avec-un-livebox-orange/ https://guillaumebriday.fr/configurer-un-routeur-synology-rt1900ac-avec-une-livebox-orange
Redirect 301 /2016/08/01/configurer-un-routeur-synology-rt1900ac-avec-une-livebox-orange/ https://guillaumebriday.fr/configurer-un-routeur-synology-rt1900ac-avec-une-livebox-orange
Redirect 301 /configurer-un-routeur-synology-rt1900ac https://guillaumebriday.fr/configurer-un-routeur-synology-rt1900ac-avec-une-livebox-orange

Redirect 301 /2016/06/18/installer-ruby-on-rails-5-avec-docker-et-un-nas-synology/ https://guillaumebriday.fr/ruby-on-rails-installation-sur-un-nas-synology-avec-docker
Redirect 301 /installer-ruby-on-rails-5-avec-docker-et-un-nas-synology https://guillaumebriday.fr/ruby-on-rails-installation-sur-un-nas-synology-avec-docker
Redirect 301 /tutoriel/web/rails/2016/06/18/installer-ruby-on-rails-5-avec-docker-et-un-nas-synology.html https://guillaumebriday.fr/ruby-on-rails-installation-sur-un-nas-synology-avec-docker

Redirect 301 /rails-5-authentification-avec-token https://guillaumebriday.fr/ruby-on-rails-authentification-avec-token

Redirect 301 /rails-recherche-avec-elasticsearch-ansible-et-vagrant https://guillaumebriday.fr/ruby-on-rails-recherche-avec-elasticsearch-ansible-et-vagrant
Redirect 301 /2016/07/28/rails-recherche-avec-elasticsearch-ansible-et-vagrant/ https://guillaumebriday.fr/ruby-on-rails-recherche-avec-elasticsearch-ansible-et-vagrant

Redirect 301 /2016/05/15/installer-ruby-on-rails-5-0-rpi-3/ https://guillaumebriday.fr/ruby-on-rails-installation-sur-un-raspberry-pi-3
Redirect 301 /installer-ruby-on-rails-5-0-rpi-3 https://guillaumebriday.fr/ruby-on-rails-installation-sur-un-raspberry-pi-3

Redirect 301 /blend-web-mix-2015 https://guillaumebriday.fr/prise-de-notes-blend-web-mix-2015

Redirect 301 /photos/DSC3180 https://guillaumebriday.fr/photos/brooklyn-bridge
Redirect 301 /photos/DSC4550 https://guillaumebriday.fr/photos/tete-de-mort-en-converse
Redirect 301 /photos/DSC7515 https://guillaumebriday.fr/photos/tour-eiffel-3
Redirect 301 /photos/DSC5432 https://guillaumebriday.fr/photos/parc-marin-du-saguenay-saint-laurent-2
Redirect 301 /photos/DSC5759 https://guillaumebriday.fr/photos/aeroport-de-paris-charles-de-gaulle
Redirect 301 /photos/DSC6329 https://guillaumebriday.fr/photos/cloche-a-rome
Redirect 301 /photos/DSC6032 https://guillaumebriday.fr/photos/automne-au-parc-de-la-tete-d-or
Redirect 301 /photos/DSC2364 https://guillaumebriday.fr/photos/building-a-new-york
Redirect 301 /photos/DSC4418 https://guillaumebriday.fr/photos/big-apple
Redirect 301 /photos/DSC4136 https://guillaumebriday.fr/photos/grand-central-terminal
Redirect 301 /photos/DSC2758 https://guillaumebriday.fr/photos/one-world-trade-center
Redirect 301 /photos/DSC6577 https://guillaumebriday.fr/photos/galerie-a-turin
Redirect 301 /photos/DSC2804 https://guillaumebriday.fr/photos/building-on-5th-avenue
Redirect 301 /photos/DSC4623 https://guillaumebriday.fr/photos/fleur-au-memorial-du-11-septembre
Redirect 301 /photos/DSC4546 https://guillaumebriday.fr/photos/one-world-trade-center-dans-le-brouillard
Redirect 301 /photos/DSC5390 https://guillaumebriday.fr/photos/parc-marin-du-saguenay-saint-laurent
Redirect 301 /photos/DSC1030 https://guillaumebriday.fr/photos/shawinigan-au-coucher-du-soleil
Redirect 301 /photos/DSC5319 https://guillaumebriday.fr/photos/lac-quebecois
Redirect 301 /photos/DSC6941 https://guillaumebriday.fr/photos/grange-au-quebec
Redirect 301 /photos/DSC4551 https://guillaumebriday.fr/photos/briques-de-lego-rouge
Redirect 301 /photos/DSC1330 https://guillaumebriday.fr/photos/maison-bleue-dans-la-neige
Redirect 301 /photos/DSC7665 https://guillaumebriday.fr/photos/cathedrale-notre-dame-de-paris
Redirect 301 /photos/DSC6330 https://guillaumebriday.fr/photos/pizza-a-rome
Redirect 301 /photos/DSC1131 https://guillaumebriday.fr/photos/route-quebecoise

# ----------------------------------------------------------------------
# | Custom error messages/pages                                        |
# ----------------------------------------------------------------------

# Customize what Apache returns to the client in case of an error.
# https://httpd.apache.org/docs/current/mod/core.html#errordocument

ErrorDocument 404 /404/
