---
layout: default
---

<ul>
  {% for page in paginator.posts %}
    <li itemscope itemtype="http://schema.org/Article">
      <h2>
        <a href="{{ page.url | relative_url }}">
          <span itemprop="name">{{ page.title | escape }}</span>
        </a>
      </h2>

      <div>
        Le <span itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | localize: ":excerpt" }}</span>
        dans <span itemprop="articleSection">{{ page.categories | join: ', ' }}</span>
      </div>

      <div itemprop="articleBody">
        {{ page.excerpt | strip_html }}
      </div>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">Précédent</a>
    {% endif %}

    <span>Page {{ paginator.page }} sur {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Suivant</a>
    {% endif %}
  </div>
{% endif %}
