---
layout: default
---

<ul class="list-reset">
  {% for page in paginator.posts %}
    <li class="mb-6" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 class="font-semibold m-0">
        <a href="{{ page.url | relative_url }}">
          <span itemprop="name">{{ page.title | escape }}</span>
        </a>
      </h2>

      <div class="text-grey-dark text-sm">
        Le <span itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | localize: ":excerpt" }}</span>
        dans <span itemprop="articleSection">{{ page.categories | join: ', ' }}</span>
      </div>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <div class="flex flex-wrap my-8 items-center justify-between text-center">
    <div class="w-full sm:w-1/3 sm:text-left">
      {% if paginator.previous_page %}
        <a class="text-grey-darker border border-grey-darker py-1 px-2 rounded hover:border-indigo hover:text-white hover:bg-indigo hover:no-underline" href="{{ paginator.previous_page_path | relative_url }}">
          Précédent
        </a>
      {% endif %}
    </div>

    <span class="w-full sm:w-1/3 text-grey-darker my-4">Page {{ paginator.page }} sur {{ paginator.total_pages }}</span>

    <div class="w-full sm:w-1/3 sm:text-right">
      {% if paginator.next_page %}
        <a class="text-grey-darker border border-grey-darker py-1 px-2 rounded hover:border-indigo hover:text-white hover:bg-indigo hover:no-underline" href="{{ paginator.next_page_path | relative_url }}">Suivant</a>
      {% endif %}
    </div>
  </div>
{% endif %}
