---
layout: default
class: 'home-container'
---

<ul class="post-list">
  {% for page in paginator.posts %}
    <li itemscope itemtype="http://schema.org/Article">
      <span class="post-meta">
        Le <span itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | localize: ":excerpt" }}</span>
        dans <span itemprop="articleSection">{{ page.categories | first }}</span>
      </span>

      <h2>
        <a class="post-link" href="{{ page.url | relative_url }}">
          <span itemprop="name">{{ page.title | escape }}</span>
        </a>
      </h2>

      <span itemprop="articleBody">
        {{ page.excerpt | strip_html }}
      </span>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="page_previous">Précédent</a>
    {% endif %}

    <span class="page_number ">Page {{ paginator.page }} sur {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="page_next">Suivant</a>
    {% endif %}
  </div>
{% endif %}
