.categories-container {
  padding: 0;
  margin: 0;
  text-align: right;
  list-style: none;

  li {
    display: inline-block;
    margin: 3px;
  }

  a {
    padding: 5px 5px;
    color: #4a4a4a !important;
    background-color: $grey-color-lighter;
    border-radius: 3px;

    &:hover {
      background-color: $grey-color-light;
    }
  }
}
