ul#markdown-toc {
  counter-reset: item;
}

#markdown-toc {
  margin-left: 0;

  & ul {
    counter-reset: item;
  }

  li {
    display: block;

    &:before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }
  }
}
