{% capture comment_id %}comments{{ page.id | replace: '/', '-' }}{% endcapture %}

{% if site.comments_form or site.data[comment_id] %}
  <h2 id="comments"><i class="fa fa-comments" aria-hidden="true"></i> {{ site.data[comment_id] | size | pluralize: "commentaire" }}</h2>

  {% include comments_form.html %}

  <div>
    {% for comment in site.data[comment_id] %}
      <div id="comment-{{ comment.id }}" itemscope itemtype="https://schema.org/Comment">
          <div>
            <div>
              {% if comment.author-url %}
                <a href="{{ comment.author-url }}" target="_blank">
              {% endif %}
              <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ comment.author }}</span>
              </span>
              {% if comment.author-url %}
                </a>
              {% endif %}
            </div>

            <div>
              <a href="#comment-{{ comment.id }}">
                <time itemprop="dateCreated" datetime="{{ comment.date | date_to_xmlschema }}">{{ comment.date | localize: ":long" }}</time>
              </a>
            </div>
          </div>

          <div itemprop="text">
            {{ comment.content | liquify | markdownify }}
          </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
