<div class="bg-black text-white px-3 py-6">
  <footer class="container mx-auto max-w-xl flex flex-wrap md:flex-no-wrap">
    <div class="mb-6 mr-6">
      {% if site.author.name %}
        {{ site.author.name | escape }}
      {% else %}
        {{ site.title | escape }}
      {% endif %}

      {% if site.email %}
        <p>
          <a class="block text-grey hover:text-grey-lightest" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      {% endif %}

      <p class="mt-4 leading-loose">{{ site.description | escape }}</p>
    </div>

    {% include social-media-list.html %}
  </footer>
</div>
