<footer class="site-footer">
  <div class="container footer-container">
    <div class="item footer-description">
      <ul class="contact-list">
        <li>
          {% if site.author %}
            {{ site.author | escape }}
          {% else %}
            {{ site.title | escape }}
          {% endif %}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
      </ul>

      <p>{{ site.description | escape }}</p>
    </div>

    <div class="item">
      {% include social-media-list.html %}
    </div>
  </div>
</footer>
