{% capture image_url %}
    {{ include.img | prepend: '/assets/images/' }}
{% endcapture %}

{% capture url %}
    {% if include.url %}
        {{ include.url }}
    {% else %}
        {{ image_url }}
    {% endif %}
{% endcapture %}

<div class="image-container">
    <a href="{{ url }}" title="{{ include.title }}" target="_blank">
        <img src="{{ image_url }}" alt="{{ include.title }}" />
    </a>

    {% if include.caption %}
        <span class="image-caption">{{ include.caption }}</span>
    {% endif %}
</div>
