<div class="my-6 py-6 flex flex-wrap border-t border-b">
  <div class="w-full sm:w-1/2">
    {% if page.previous.url %}
      <span class="block text-grey-darker text-sm">Article précédent</span>

      <a href="{{ page.previous.url }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.previous.title }}
      </a>
    {% endif %}
  </div>

  <div class="w-full mt-3 sm:w-1/2 sm:mt-0 text-right">
    {% if page.next.url %}
      <span class="block text-grey-darker text-sm">Article suivant</span>

      <a href="{{ page.next.url }}">
        {{ page.next.title }} <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
</div>
