<div class="page-navigation">
  <div class="nav-container">
    {% if page.previous.url %}
      <span>Article précédent</span>
      <a class="prev" href="{{ page.previous.url }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.previous.title }}
      </a>
    {% endif %}
  </div>

  <div class="nav-container next-container">
    {% if page.next.url %}
      <span>Article suivant</span>
      <a class="next" href="{{ page.next.url }}">
        {{ page.next.title }} <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
</div>
