{% capture comment_id %}comments{{ page.id | replace: '/', '-' }}{% endcapture %}

<ul class="post-meta-details">
  <li>
    <time datetime="{{ page.date | date_to_xmlschema }}">
      <i class="fa fa-calendar" aria-hidden="true"></i> {% include page-date.html %}
    </time>
  </li>

  {% if page.author %}
  <li>
      <i class="fa fa-user" aria-hidden="true"></i> Par {{ page.author }}
  </li>
  {% endif %}

  <li>
    <a href="#comments">
      <i class="fa fa-comments" aria-hidden="true"></i> {{ site.data[comment_id] | size | pluralize: "commentaire" }}
    </a>
  </li>

  <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}
  </li>
</ul>
