{% capture comment_id %}comments{{ page.id | replace: '/', '-' | replace: '+', '' }}{% endcapture %}

<ul class="list-reset mb-4 text-sm">
  <li class="block sm:inline-block mr-3 text-grey-darker">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">
      <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | localize: ":excerpt" }}
    </time>
  </li>

  <li class="block sm:inline-block mr-3 text-grey-darker">
    <i class="fa fa-user" aria-hidden="true"></i> Par
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        {{ site.author.name }}
      </span>
    </span>
  </li>

  <li class="block sm:inline-block mr-3 text-grey-darker">
    <a href="#comments">
      <i class="fa fa-comments" aria-hidden="true"></i> {{ site.data[comment_id] | size | pluralize: "commentaire" }}
    </a>
  </li>

  <li class="block sm:inline-block mr-3 text-grey-darker">
      <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{% include read-time.html %}
  </li>
</ul>
