<ul class="list-reset flex-no-shrink" itemscope itemtype="http://schema.org/Person">
  <link itemprop="url" href="{{ site.url }}">

  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="{{ "/feed.xml" | relative_url }}" target="_blank">
      <i class="fa fa-rss" aria-hidden="true"></i> RSS </a>
  </li>

  {% if site.github_username %}
  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="https://github.com/{{ site.github_username }}" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i> GitHub </a>
  </li>
  {% endif %}

  {% if site.twitter_username %}
  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" itemprop="sameAs">
      <i class="fa fa-twitter" aria-hidden="true"></i> Twitter </a>
  </li>
  {% endif %}

  {% if site.instagram_username %}
  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="https://instagram.com/{{ site.instagram_username }}" target="_blank" itemprop="sameAs">
      <i class="fa fa-instagram" aria-hidden="true"></i> Instagram </a>
  </li>
  {% endif %}

  {% if site.linkedin %}
  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" itemprop="sameAs">
      <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn </a>
  </li>
  {% endif %}

  {% if site.amazon_tag %}
  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="https://www.amazon.fr/?tag={{ site.amazon_tag }}" target="_blank">
      <i class="fa fa-amazon" aria-hidden="true"></i> Amazon </a>
  </li>
  {% endif %}

  {% if site.paypal %}
  <li class="mb-3">
    <a class="text-grey hover:text-grey-lightest" href="https://www.paypal.me/{{ site.paypal }}" target="_blank">
      <i class="fa fa-paypal" aria-hidden="true"></i> M'offrir un café </a>
  </li>
  {% endif %}
</ul>
