
/**
 * Pagination
 */

.pagination {
  position: relative;
  margin: 3rem auto;
  text-align: center;
}

.page_next,
.page_previous {
  position: absolute;
  display: inline-block;
  padding: 0 ($spacing-unit / 2);
  color: $grey-color!important;
  text-decoration: none;
  border: 1px solid $grey-color;
  border-radius: 4px;

  &:hover {
    color: $brand-color!important;
    text-decoration: none;
    border-color: $brand-color;
  }
}

.page_next {
  right: 0;
}

.page_number {
  display: inline-block;
  padding: 2px 0;
  color: $grey-color;
}

.page_previous {
  left: 0;
}

@include media-query($on-palm) {
  .page_next,
  .page_previous,
  .page_number {
    position: relative;
  }

  .page_number {
    display: block;
    margin: ($spacing-unit / 1.5) 0;
  }
}
