$base-font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * .875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #ef1f17 !default;
$commments-border-color: #e9eeee !default;
$gallery-gutter: 5px;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$fa-font-path: "../assets/fonts";

// Width of the content area
$content-width: 900px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
