.page-navigation {
  display: flex;
  font-size: .9em;
  border-top: 1px solid $commments-border-color;

  flex-wrap: wrap;

  .next-container {
    text-align: right;
  }

  .nav-container {
    margin: 10px 0;

    flex-basis: 50%;
    @include media-query($on-palm) {
      & {
        flex-basis: 100%;
      }
    }
  }

  span {
    display: block;
    color: $grey-color;
  }
}
