$spaces: 30px;

.education-block {
  position: relative;
  display: flex;
  padding-bottom: $spaces;
  margin-bottom: $spaces;
  border-bottom: 1px solid #e1e1e1;

  flex-wrap: wrap;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
}

.education-date-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: $spaces;
  margin-bottom: $spaces;
  font-size: 2em;
  font-weight: 700;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px;
    content: '';
    background: #e1e1e1;
  }
}

.education-date {
  position: relative;
}

.education-month {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  color: $font-color-work;
}

.education-school {
  margin-top: 0;
}

.education-presentation {
  flex-basis: 100%;
}

.education-title {
  font-size: 1.6em;
  color: $brand-color;
}

.education-description {
  margin: 1em 0;
  line-height: 1.7;
  color: $font-color-work;
  text-align: justify;
}

@include bp(medium) {
  .education-block {
    flex-wrap: initial;
  }

  .education-presentation {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #e1e1e1;
  }

  .education-date-container {
    text-align: right;
    &:after {
      right: 0;
      left: auto;
    }
  }

  .education-info {
    min-width: 200px;
  }

  .education-month {
    right: 0;
    left: auto;
  }

  .education-school {
    text-align: right;
  }
}

@include bp (medium) {
  .education-section {
    width: map-get($breakpoints, medium);
  }
}
