.hobbies-container
{
    display: flex;

    flex-wrap: wrap;
}

.hobbies-title
{
    margin-bottom: 50px;
}

.hobbies-content
{
    margin-bottom: 25px;

    text-align: center;

    color: $font-color-work;

    flex-basis: 50%;
}

.hobbies-icon
{
    position: relative;

    width: $hobbies-icons-size;
    height: $hobbies-icons-size;
    margin-bottom: 25px;

    &:before
    {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translateX(-50%) translateY(-50%);

        color: #000;
    }
}

@include bp(xsmall)
{
    .hobbies-content
    {
        flex-basis: 33%;
    }
}

@include bp(small)
{
    .hobbies-content
    {
        flex-basis: 25%;
    }
}

@include bp(medium)
{
    .hobbies-container
    {
        justify-content: space-around;
    }
    .hobbies-content
    {
        flex-basis: initial;
    }
}
