.skills-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.knowledge-title,
.dev-title {
  color: $brand-color;
}

.dev-block,
.knowledge-block {
  margin-bottom: 75px;

  flex-basis: 100%;
}

.dev-title,
.knowledge-title {
  margin-bottom: 50px;
}

.dev-content {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.content-title {
  margin-bottom: 25px;
  color: $font-color-work;
}

.progressbar-container {
  position: relative;
  height: $progress-bar-height;

  & > svg {
    display: block;
    height: 100%;
  }
}

.progressbar-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
  background: #252525;
  transform: translate3d(-100%, 0, 0);
}

.knowledge-content-list {
  margin: 0;
  list-style-type: none;
}

.knowledge-content-item {
  display: block;
  font-size: 16px;
  line-height: 1.7;
  color: $font-color-work;

  .fa {
    &:before {
      margin-right: 10px;
    }
  }
}

@include bp(small) {
  .dev-block,
  .knowledge-block {
    flex-basis: 40%;
  }
}
