<section id="about-section-container" class="section-container">
  <div class="section about-section">
    <div class="title-container">
      <h2 class="title">Profil</h2>
    </div>
    <article class="about-article">
      <img src="{{ site.baseurl }}/assets/me.jpg" alt="Photo de profil" class="about-image thumb">

      <div class="about-details">
        <ul class="about-details-list">
          <li><span>Nom :</span> Guillaume Briday</li>
          <li><span>Ville :</span> Lyon</li>
          <li><span>E-mail :</span> <a href="mailto:guillaumebriday@gmail.com">guillaumebriday@gmail.com</a></li>
          <li><span>Mobilité :</span> Permis B, Permis A2, véhiculé</li>
          <li><span>Âge :</span> 22 ans</li>
          <li><span>Caractéristiques principales :</span> Curieux, passionné et motivé</li>
          <li><span>Mon CV :</span> <a href="{{ site.baseurl }}/assets/CV-Guillaume-Briday.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> CV-Guillaume-Briday.pdf</a></li>
        </ul>
      </div>

      <div class="about-presentation">
        <h3 class="about-title-presentation">Présentation</h3>
        <p class="about-description">
          Je suis actuellement en école d'ingénieur à Lyon.
          Je souhaite devenir développeur Web pour faire de ma passion mon travail.
          J'ai pu acquérir de l'expérience dans les langages PHP et Ruby au cours de mes dernières années en entreprise.
          J'aime travailler avec Git, faire de la qualité logiciel et des tests fonctionnels.
          Apprendre et découvrir les technologies de demain occupe mon temps libre afin d'améliorer mes projets tant professionnels que personnels.
        </p>
      </div>
    </article>
  </div>
</section>
