<section class="py-8 container mx-auto max-w-3xl px-3">
  <h2 class="resume-title">Profil</h2>

  <article class="flex flex-wrap">
    <img class="w-full md:w-1/2 lg:w-1/3 px-3 h-full" src="{{ site.baseurl }}/assets/me.jpg" alt="Photo de profil" data-action="zoom">

    <div class="w-full md:w-1/2 lg:w-1/3 px-3">
      <ul class="list-reset">
        <li class="py-2 border-b">
          <span class="font-bold">Nom :</span> Guillaume Briday
        </li>

        <li class="py-2 border-b">
          <span class="font-bold">Ville :</span> Lyon
        </li>

        <li class="py-2 border-b">
          <span class="font-bold">E-mail :</span> <a href="mailto:guillaumebriday@gmail.com">guillaumebriday@gmail.com</a>
        </li>

        <li class="py-2 border-b">
          <span class="font-bold">Mobilité :</span> Permis B, Permis A2, véhiculé
        </li>

        <li class="py-2 border-b">
          <span class="font-bold">Âge :</span> 23 ans
        </li>

        <li class="py-2 border-b">
          <span class="font-bold">Caractéristiques principales :</span> Curieux, passionné et motivé
        </li>

        <li class="py-2">
          <span class="font-bold">Mon CV :</span> <a href="{{ site.baseurl }}/assets/CV-Guillaume-Briday.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> CV-Guillaume-Briday.pdf</a>
        </li>

      </ul>
    </div>

    <div class="w-full lg:w-1/3 px-3 mt-4 lg:mt-0">
      <h3 class="text-red uppercase">Présentation</h3>
      <p class="text-grey-darker leading-loose">
        Je suis actuellement en école d'ingénierie à Lyon.
        Je suis développeur Web pour faire de ma passion mon travail.
        J'ai pu acquérir de l'expérience dans les langages PHP et Ruby, entre autres, au cours de mes dernières années en entreprise.
        J'aime travailler avec Git, faire de la qualité logiciel et des tests fonctionnels.
        Apprendre et découvrir les technologies de demain occupe mon temps libre afin d'améliorer mes projets tant professionnels que personnels.
      </p>
    </div>
  </article>
</section>
