<section class="py-8 container mx-auto max-w-3xl px-3">
  <h2 class="resume-title">Formation</h2>

  {% include resume/components/education.html
              start_date = "2015-09-01 00:00:00 +0100"
              end_date = "2018-06-01 00:00:00 +0100"
              school = "Institut G4 - Lyon"
              title = "École d'ingénierie en Informatique : Institut G4 à Lyon"
              description = "École d'ingénierie en informatique amenant à un titre RNCP de niveau I (Bac +5) pour me spécialiser dans les technologies du Web et du Management." %}

  {% include resume/components/education.html
              start_date = "2015-01-01 00:00:00 +0100"
              end_date = "2015-06-01 00:00:00 +0100"
              school = "Cégep Shawinigan - Canada"
              title = "Techniques de l'informatique : Informatique de gestion"
              description = "Fin de mon diplôme universitaire de technologie au Canada durant 6 mois. Découverte de nouvelles méthodes de travail ainsi qu'une approche différente du monde de l'informatique. Réalisation de mon stage de développeur Web chez Second Life." %}

  {% include resume/components/education.html
              start_date = "2013-09-01 00:00:00 +0100"
              end_date = "2015-01-01 00:00:00 +0100"
              school = "Université Lyon 1"
              title = "Institut Universitaire de Technologie - Informatique"
              description = "Formation de deux ans à l'institut universitaire de technologie département informatique de Lyon 1." %}

  {% include resume/components/education.html
              start_date = "2012-09-01 00:00:00 +0100"
              end_date = "2013-07-01 00:00:00 +0100"
              school = "Lycée Ampère-Saxe - Lyon"
              title = "Baccalauréat Scientifique - SVT / ISN / Histoire-géographie"
              description = "Obtention de mon Baccalauréat Scientifique option Informatique et Science du Numérique. Création d'un projet de domotique avec un arduino et une interface de contrôle sur le Web." %}
</section>
