<section id="experience-section-container" class="section-container experience-section-container">
  <div class="section experience-section">
    <div class="title-container">
      <h2 class="title">Expérience</h2>
    </div>

    <div class="timeline-container">
      {% capture title %}
      Développeur, concepteur et intégrateur chez <a href="http://ochelys.com" target="_blank">Ochelys</a>
      {% endcapture %}

      {% include resume/components/timeline.html
                  date = "Octobre 2015 - Octobre 2017"
                  title = title
                  description = "Développeur, concepteur et intégrateur Web. Travailler en méthode agile avec Scrum. Développer des solutions internes, accessibles, créées avec Ruby On Rails, Laravel, Sass, Vagrant ou Docker et industrialisation des processus." %}

      {% include resume/components/timeline.html
                  date = "Septembre 2016 - Juillet 2017"
                  title = "Responsable Git et concepteur architecture"
                  description = "Poste de consultant et de support. Gérer les Pull Requests et le dépôt Git. Superviser la qualité logiciel, l'architecture technique et mettre en place l'environnement de développement. Conseiller et orienter les équipes sur les choix qu'elles sont amenées à faire dans leur développement." %}

      {% capture title %}
      Développeur Web chez <a href="https://shop.second-life.ca/" target="_blank">Second Life</a>. Créer un site de vente et un blog avec AngularJS / PHP
      {% endcapture %}

      {% include resume/components/timeline.html
                  date = "Mars 2015 - Juin 2015"
                  title = title
                  description = "Créer un CMS à l’aide du framework AngularJS et d’une API REST en PHP pour la gestion des produits, des commandes et du blog de Second Life. Mettre en place la structure de la base de données et de l’API REST." %}

      {% include resume/components/timeline.html
                  date = "Janvier 2015 - Mars 2015"
                  title = "Système de gestion de commerce sur FileMaker Pro et CakePHP"
                  description = "Mettre en place la structure de la base de données et créer l’interface sur FileMaker Pro. Penser le design du site web et coder avec CakePHP." %}

      {% include resume/components/timeline.html
                  date = "Janvier 2014 - Juillet 2014"
                  title = "Créer un CMS complet dans une simulation d'un site de vente en ligne en PHP"
                  description = "Créer une simulation d'un site de vente en PHP avec une gestion du panier et des commentaires. Back-office avec une organisation des contenus, un système de connexion pour les utilisateurs avec différents niveaux de droits." %}

      {% include resume/components/timeline.html
                  date = "Août 2013 - Maintenant"
                  title = "Créer et maintenir le site guillaumebriday.fr"
                  description = "Créer mon site personnel. Je m'entraine dessus pour essayer des outils comme Sass, Jekyll, Middleman, l'AJAX, Jade et beaucoup d'autres." %}
    </div>
  </div>
</section>
