<section>
  <div>
    <div>
      <h1>Mes centres d'intérêts</h1>
    </div>

    <div>
      {% include resume/components/hobbie.html
                  icon = "keyboard-o"
                  subtitle  = "Développement" %}

      {% include resume/components/hobbie.html
                  icon = "camera"
                  subtitle  = "Photographie" %}

      {% include resume/components/hobbie.html
                  icon = "mobile"
                  subtitle  = "Technologie" %}

      {% include resume/components/hobbie.html
                  icon = "code-fork"
                  subtitle  = "Électronique" %}

      {% include resume/components/hobbie.html
                  icon = "book"
                  subtitle  = "Culture" %}

      {% include resume/components/hobbie.html
                  icon = "plane"
                  subtitle  = "Voyages" %}

      {% include resume/components/hobbie.html
                  icon = "pencil"
                  subtitle  = "Design" %}
    </div>
  </div>
</section>
