<section class="py-8 bg-grey-lighter">
  <div class="container mx-auto max-w-3xl px-3">
    <h2 class="resume-title">Mes centres d'intérêts</h2>

    <div class="flex flex-wrap justify-around">
      {% include resume/components/hobbie.html
                  icon = "keyboard-o"
                  subtitle  = "Développement" %}

      {% include resume/components/hobbie.html
                  icon = "camera"
                  subtitle  = "Photographie" %}

      {% include resume/components/hobbie.html
                  icon = "mobile"
                  subtitle  = "Technologie" %}

      {% include resume/components/hobbie.html
                  icon = "code-fork"
                  subtitle  = "Électronique" %}

      {% include resume/components/hobbie.html
                  icon = "book"
                  subtitle  = "Culture" %}

      {% include resume/components/hobbie.html
                  icon = "plane"
                  subtitle  = "Voyages" %}

      {% include resume/components/hobbie.html
                  icon = "pencil"
                  subtitle  = "Design" %}
    </div>
  </div>
</section>
