<section class="py-8 bg-grey-lighter">
  <div class="container mx-auto max-w-3xl px-3">
    <h2 class="resume-title">Compétences</h2>

    <div class="flex flex-wrap">
      <div  class="w-full md:w-1/2 sm:px-8" data-scroll data-scroll-showCallback="animate_progress_bar">
        <h3 class="text-red mb-4">Développement</h3>

        {% include resume/components/skill.html
                   title = "Ruby / Ruby On Rails"
                   percent = "80" %}

        {% include resume/components/skill.html
                   title = "PHP / Laravel"
                   percent = "90" %}

        {% include resume/components/skill.html
                   title = "SQL"
                   percent = "85" %}

        {% include resume/components/skill.html
                   title = "HTML"
                   percent = "95" %}

        {% include resume/components/skill.html
                   title = "CSS"
                   percent = "90" %}

        {% include resume/components/skill.html
                   title = "JavaScript / CoffeeScript / Jquery"
                   percent = "80" %}
      </div>

      <div class="w-full md:w-1/2 sm:px-8">
        <h3 class="text-red mb-4">Connaissances</h3>
        <ul class="list-reset">
          {% for knowledge in page.knowledges %}
            <li><i class="pr-3 fa fa-check"></i>{{ knowledge }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
