<section id="skills-section-container" class="skills-section-container section-container">
  <div class="section skills-section">
    <div class="title-container">
      <h1 class="title">Compétences</h1>
    </div>
    <div class="skills-container">
      <div class="dev-block" data-scroll="toggle(.visible, .hidden)" data-scroll-showCallback="animate_progress_bar">
        <h3 class="dev-title">Développement</h3>

        {% include resume/components/skill.html
                   title = "Ruby / Ruby On Rails"
                   percent = "80" %}

        {% include resume/components/skill.html
                   title = "PHP / Laravel"
                   percent = "90" %}

        {% include resume/components/skill.html
                   title = "SQL"
                   percent = "85" %}

        {% include resume/components/skill.html
                   title = "HTML"
                   percent = "95" %}

        {% include resume/components/skill.html
                   title = "CSS"
                   percent = "90" %}

        {% include resume/components/skill.html
                   title = "Javascript / CoffeeScript / Jquery"
                   percent = "80" %}
      </div>

      <div class="knowledge-block">
        <h3 class="knowledge-title">Connaissances</h3>
        <div class="knowledge-content">
          <ul class="knowledge-content-list">
            {% for knowledge in page.knowledges %}
              <li class="knowledge-content-item"><i class="fa fa-check"></i>{{ knowledge }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
