@mixin triangle-shadow($position, $offset, $size, $color, $box-shadow-pos, $box-shadow-blur, $box-shadow-color) {
  position: relative;
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border: $size solid;
    transform-origin: 50% 50%;

    @if ($position == 'top') {
      top: (-1 * $size) + 1;
      right: auto;
      bottom: auto;
      left: $offset;
      border-color: $color $color transparent transparent;
      box-shadow: $box-shadow-pos (-1 * $box-shadow-pos) $box-shadow-blur 0 $box-shadow-color;
      transform: translateX(-50%) rotate(-45deg);
    }
    @else if ($position == 'right') {
      top: $offset;
      right: (-1 * $size) + 1;
      bottom: auto;
      left: auto;
      border-color: transparent $color $color transparent;
      box-shadow: $box-shadow-pos $box-shadow-pos $box-shadow-blur 0 $box-shadow-color;
      transform: translateY(-50%) rotate(-45deg);
    }
    @else if ($position == 'bottom') {
      top: auto;
      right: auto;
      bottom: (-1 * $size) + 1;
      left: $offset;
      border-color: transparent transparent $color $color;
      box-shadow: (-1 * $box-shadow-pos) $box-shadow-pos $box-shadow-blur 0 $box-shadow-color;
      transform: translateX(-50%) rotate(-45deg);
    }
    @else if ($position == 'left') {
      top: $offset;
      right: auto;
      bottom: auto;
      left: (-1 * $size) + 1;
      border-color: $color transparent transparent $color;
      box-shadow: (-1 * $box-shadow-pos) (-1 * $box-shadow-pos) $box-shadow-blur 0 $box-shadow-color;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
