.page-content {
  padding: ($spacing-unit / 2);
  padding-top: 0;
  padding-right: unquote("max(#{($spacing-unit / 2), env(safe-area-inset-right)})");
  padding-bottom: 290px + ($spacing-unit / 2);
  padding-left: unquote("max(#{($spacing-unit / 2), env(safe-area-inset-left)})");

  @include media-query($on-laptop) {
    padding-bottom: 480px + ($spacing-unit / 2);
  }

  .container:not(.home-container) {
    padding: $spacing-unit;
    background: $background-color;
    border-radius: $border-radius;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  }

  .home-container {
    padding: 0;
  }
}

@include media-query($on-palm) {
  .page-content {
    .container:not(.home-container) {
      padding: $spacing-unit / 2;
    }
  }
}

.page-heading {
  @include relative-font-size(1.25);
}
