table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border: 1px solid $commments-border-color;

  td,
  th {
    padding: .3rem;
    vertical-align: top;
    border: 1px solid $commments-border-color;
  }

  thead {
    th {
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid $commments-border-color;
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: rgba(0,0,0,.05);
    }
  }
}
