<article class="mb-8 py-6 border-b flex flex-wrap md:flex-no-wrap">
  <div class="flex-no-shrink">
    <div class="inline-block border-b pb-4">
      <div class="inline-block leading-none">
        <div class="text-grey-darker text-xs text-right">{{ include.start_date | localize: ":month" }}</div>
        <span class="font-bold text-3xl">{{ include.start_date | date: '%Y' }}</span>
      </div>

      <div class="inline-block font-bold mx-6">&ndash;</div>

      <div class="inline-block leading-none">
        <div class="text-grey-darker text-xs text-right">{{ include.end_date | localize: ":month" }}</div>
        <span class="font-bold text-3xl">{{ include.end_date | date: '%Y' }}</span>
      </div>
    </div>

    <p class="mt-4 md:text-right">{{ include.school }}</p>
  </div>

  <div class="md:ml-6 md:pl-6 md:border-l">
    <h3 class="text-indigo text-2xl">{{ include.title }}</h3>
    <p class="text-grey-darker leading-loose">{{ include.description }}</p>
  </div>
</article>
