---
layout: default
---
<h1>{{ page.title | escape }}</h1>

<p>
  <a href="{{ site.baseurl }}{% link photos/index.html %}">&larr; Retour aux photos</a>
</p>

<div itemscope itemtype="http://schema.org/ImageObject">
  <img src="{{ page.name | prepend: '/assets/images/gallery/' | prepend: site.baseurl }}" alt="{{ page.alt }}" itemprop="contentUrl" data-action="zoom" />

  {% if page.exif %}
    <ul class="list-reset my-6 flex justify-between flex-col md:flex-row ">
        {% if page.exif.camera %}
          <li class="mb-3">
            <div class="text-grey-darker text-xs">Camera</div>
            <span>{{ page.exif.camera }}</span>
          </li>
        {% endif %}

        {% if page.exif.iso %}
          <li class="mb-3" itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
            <div class="text-grey-darker text-xs" itemprop="name">ISO</div>
            <span itemprop="value">{{ page.exif.iso }}</span>
          </li>
        {% endif %}

        {% if page.exif.shutter_speed %}
          <li class="mb-3" itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
            <div class="text-grey-darker text-xs" itemprop="name">Shutter Speed</div>
            <span itemprop="value">{{ page.exif.shutter_speed }} sec</span>
          </li>
        {% endif %}

        {% if page.exif.aperture %}
          <li class="mb-3" itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
            <div class="text-grey-darker text-xs" itemprop="name" content="FNumber">Aperture</div>
            <span itemprop="value">f/ {{ page.exif.aperture }}</span>
          </li>
        {% endif %}

        {% if page.exif.camera %}
          <li class="mb-3">
            <div class="text-grey-darker text-xs">Focal Length</div>
            <span>{{ page.exif.focal_length }} mm</span>
          </li>
        {% endif %}

        {% if page.exif.location %}
          <li class="mb-3">
            <div class="text-grey-darker text-xs">Location</div>
            <span itemprop="contentLocation">{{ page.exif.location }}</span>
          </li>
        {% endif %}

        {% if page.exif.date %}
          <li class="mb-3">
            <div class="text-grey-darker text-xs">Date</div>
            <span itemprop="datePublished" content="{{ page.exif.date | date: '%Y-%m-%d' }}">{{ page.exif.date | localize: ":excerpt" }}</span>
          </li>
        {% endif %}
    </ul>
  {% endif %}
</div>
