---
layout: default
---
<p>
    <a href="{{ site.baseurl }}{% link photos/index.md %}">&larr; Retour aux photos</a>
</p>

<divitemscope itemtype="http://schema.org/ImageObject">
    <img src="{{ page.name | prepend: '/assets/images/gallery/' | prepend: site.baseurl }}" alt="{{ page.alt }}"  itemprop="contentUrl" />

    <span itemprop="caption">{{ page.title }}</span>

    {% if page.exif %}
    <h2>EXIF</h2>

    <ul>
        {% if page.exif.camera %}
            <li>
                <div>Camera</div>
                <span>{{ page.exif.camera }}</span>
            </li>
        {% endif %}

        {% if page.exif.iso %}
            <li itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
                <div  itemprop="name">ISO</div>
                <span itemprop="value">{{ page.exif.iso }}</span>
            </li>
        {% endif %}

        {% if page.exif.shutter_speed %}
            <li itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
                <div  itemprop="name">Shutter Speed</div>
                <span itemprop="value">{{ page.exif.shutter_speed }} sec</span>
            </li>
        {% endif %}

        {% if page.exif.aperture %}
            <li itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
                <div  itemprop="name" content="FNumber">Aperture</div>
                <span itemprop="value">f/ {{ page.exif.aperture }}</span>
            </li>
        {% endif %}

        {% if page.exif.camera %}
            <li>
                <div Focal Length</div>
                <span  page.exif.focal_length }} mm</span>
            </li>
        {% endif %}

        {% if page.exif.location %}
            <li>
                <div Location</div>
                <span itemprop="contentLocation">{{ page.exif.location }}</span>
            </li>
        {% endif %}

        {% if page.exif.date %}
            <li>
                <div Date</div>
                <span itemprop="datePublished" content="{{ page.exif.date | date: '%Y-%m-%d' }}">{{ page.exif.date | localize: ":excerpt" }}</span>
            </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
