---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="mb-2" itemprop="name">{{ page.title | escape }}</h1>
    {% include post-meta.html %}
  </header>

  <div class="post-content leading-loose" itemprop="articleBody">
    {% if page.thumbnail %}
      {% include image.html
                  img = page.thumbnail
                  title = page.title %}
    {% endif %}

    {{ content }}

    {% include categories-tags.html %}
  </div>

  {% include page-navigation.html %}

  {% include comments.html %}
</article>
