.site-footer {
  padding: $spacing-unit 0;
  color: #fff;
  background: #303238;
  border-top: 1px solid $grey-color-light;
  a {
    color: #b5b5b5;

    &:hover {
      color: inherit;
    }
  }
}

.contact-list,
.social-media-list {
  margin-left: 0;
  list-style: none;
}

.contact-list {
  margin-bottom: $spacing-unit;
}

.social-media-list {
  li {
    margin-bottom: 10px;

    .fa {
      margin-right: 5px;
    }
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  color: $grey-color-light;

  @include relative-font-size(.9375);

  p {
    margin-bottom: 0;
  }

  .footer-description {
    margin-bottom: $spacing-unit;
  }
}

@include media-query-min($on-laptop) {
  .footer-container {
    .item {
      flex: 1 0 0;
    }

    .footer-description {
      margin-right: 30px;
      flex: 3;
    }
  }
}
