.page-content {
  padding: $spacing-unit / 2;
  background: #f5f5f5;
}

.page-content {
  .container:not(.home-container) {
    padding: $spacing-unit;
    background: $background-color;
    border-radius: $border-radius;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  }

  .home-container {
    padding: 0;
  }
}

@include media-query($on-palm) {
  .page-content {
    .container:not(.home-container) {
      padding: $spacing-unit / 2;
    }
  }
}

.page-heading {
  @include relative-font-size(1.25);
}
