.page-content {
  padding: $spacing-unit 0;
  background: #f5f5f5;
}

.page-content {
  .wrapper {
    padding: $spacing-unit;
    background: $background-color;
    border: 1px solid $grey-color-light;
  }
}

@include media-query($on-palm) {
  .page-content {
    .wrapper {
      padding: $spacing-unit / 2;
    }
  }
}

.page-heading {
  @include relative-font-size(1.25);
}
