.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    padding: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    background: $background-color;
    border-radius: $border-radius;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  }
}

@include media-query($on-palm) {
  .post-list {
    > li {
      padding: $spacing-unit / 2;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-weight: 500;

  @include relative-font-size(1.5);
}

.post-title {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;

  @include relative-font-size(2.625);
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-meta-details {
  margin-left: 0;
  font-size: 14px;
  color: $grey-color;

  li {
    display: inline-block;
    margin-right: 15px;
  }
}

@include media-query($on-palm) {
  .post-meta-details {
    li {
      display: block;
    }
  }
}

.image-container {
  a {
    display: block;
    text-align: center;
  }
}

.image-caption {
  display: block;
  margin-top: 5px;
  font-style: italic;
  color: $grey-color;
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border: 1px solid $commments-border-color;

  td,
  th {
    padding: .3rem;
    vertical-align: top;
    border: 1px solid $commments-border-color;
  }

  thead {
    th {
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid $commments-border-color;
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: rgba(0,0,0,.05);
    }
  }
}
