.container {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-right: unquote("max(#{$spacing-unit, env(safe-area-inset-right)})");
  padding-left: $spacing-unit;
  padding-left: unquote("max(#{$spacing-unit, env(safe-area-inset-left)})");
  margin-right: auto;
  margin-left: auto;

  @extend %clearfix;
  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

%clearfix:after {
  display: table;
  clear: both;
  content: '';
}

::selection {
  background: $brand-color;
  color: $background-color;
}
