*,
:after,
:before {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

/**
 * Basic styling
 */
body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;

  -webkit-font-feature-settings: 'kern' 1;
     -moz-font-feature-settings: 'kern' 1;
       -o-font-feature-settings: 'kern' 1;
          font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.image-container,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  max-height: 100vh;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  overflow-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}

input,
button {
  outline: none;
}

/**
 * Blockquotes
 */
blockquote {
  padding-left: $spacing-unit / 2;
  font-style: italic;
  color: $grey-color;
  letter-spacing: -1px;
  border-left: 4px solid $grey-color-light;

  @include relative-font-size(1.125);

  > :last-child {
    margin-bottom: 0;
  }
}
